---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: 0
IndentAccessModifiers: false
NamespaceIndentation: All
IndentPPDirectives: BeforeHash 
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: true
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseArrows: true
  AlignCaseColons: true
AlignConsecutiveTableGenCondOperatorColons: AcrossEmptyLinesAndComments
AlignConsecutiveTableGenDefinitionColons: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterCaseLabel: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
LambdaBodyIndentation: Signature
ContinuationIndentWidth: 4
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine
SpaceAfterTemplateKeyword: true
SpaceBeforeCpp11BracedList: true
MaxEmptyLinesToKeep: 1
BinPackParameters: false
BinPackArguments: false
